<h1>Items for Sale</h1>

<form action="/checkout" method="POST">
    <label for="item_to_purchase"><Item></label>
    <input type="text" name="item">
    <button type="submit" value="submit">Submit</button>


</form>
